.main {
  display: flex;
  flex-direction: column;
}

.NavParentContainer {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: var(--Bg-Color);
}
